@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

a:link, a:visited {
    background-color: #fff;
    color: #333;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #008080;
    color: #fff;
}

body{
  color: #fff;
  background-image: url('stem_cells_01.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0px;
  text-align: center;
}

h1{
  font-weight: 400;
  font-size: 4rem;
  /* margin-bottom: 5px; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  text-shadow: 1px 1px 2px black, 0 0 25px deepskyblue, 0 0 5px deeppink;
}
.elab {
  text-shadow: 1px 1px 2px black, 0 0 25px deepskyblue, 0 0 5px deeppink;
  font-size: 1.5rem;
}

.boldType{font-size: 1.3em; font-weight: 700;}
.navPadding{padding: 5px;}


#header{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

#header-img{
  width: 200px;
  height: auto;
}

.card{margin: 2em;}
.card img{
  border: .5em solid #fff;
  border-bottom: 1em solid #fff;
  margin-bottom: -10px;
}
.card figcaption{
  background-color: #fff;
  color: #333;
  padding: 10px;
  font-weight: 700;
}

#cover{
  /* top includes pic of Centeno */
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main{
  /* middle includes video */
  width: 100%;
  background-color: #fff;
  color: #333;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.middle {
  /* bottom includes bill clip art */
  width: 80%;
  min-height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  /* bottom includes bill clip art */
  width: 80%;
  min-height: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

input {
  border: 0px;
  background-color: transparent;
  margin-top: 1rem;
  font-size: 1.5em;
  color: #fff;
  padding: 1rem;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 0.6;
  }

input[type=email] {
  border-top: 0px;
  border-right: 0px;
  border-bottom: 4px solid #fff;
  border-left: 0px;
  margin-right: 20px;
}

input[type=submit] {
  background-color: #ff8080;
}

input[type=submit]:hover{
  background-color: #ff9d9dff;
}


#rowReverse{flex-direction: row-reverse;}

iframe {margin-right: 5em;}

.mainGrey{
  background-color: #333;
  color: #fff;
}

.box{
  width: 300px;
}

.boxDiv{
  text-align: center;
}
.boxImg{
  width:auto;
  height:250px;
  /* padding-top: 30px; */
}

@media screen and (max-width: 600px) {

  #header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px;
  }

  #cover{
    width: 90%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: auto;
    padding-top: 0px;
  }

iframe {margin: 0px; margin-bottom: -8em;}
#rowReverse{flex-direction: column-reverse;}

  .mainBox{width: 100%;}
  .box{width: 90%;}
  .boxImg{display: none;}

}
